/*
主要的适配点：
1. 修改了ul下li的现实方式，增加了*display：inline，主要是解决IE6和IE7对inline-block的支持问题。
2. 修改了所有使用margin居中对齐的方式。主要修改的思路是采用块级元素包裹，采用text-align方式水平居中。
3. 简化和优化了部分代码，避免使用复杂布局。
4. IE6，IE7在默认情况下会出现垂直滚动条，因此在容器上对IE6和IE7做了单独的纵向滚动条的适配。
5. IE8，IE9，IE10,IE11四个版本浏览器100%宽度计算问题导致的水平滚动条问题。
6. IE6, IE7, IE8， 对CSS的shadow不支持，只能采用滤镜方式。但是IE7对滤镜的实现貌似也存在问题。如果要根本解决，个人觉得最好还是图片方式做边框。
5. 
【疑问】各家浏览器对于input的对齐逻辑这块始终不太明白。目前解决的方式是采用两个DIV分别包裹两个input。
【疑问】IE6和IE7貌似是把HTML根也作为一个容器来处理？
*/

*{
	padding: 0;
	margin: 0;
}

html,body{
	display: block;
	font-size: 14px;
	font-family: 黑体-简;
	height: 100%;
	width: 100%;
	/*貌似IE6和IE7把html根元素也作为一个容器来进行处理。*/
	/*适配了IE6和IE7下默认存在的滚动条问题。*/
	*overflow-y:auto;
}

/*整个页面的容器，主要是统一页面100%高的行为。*/
#wrapper{
	/*overflow:主要是适配IE8，IE9，IE10,IE11的100%计算错误的问题。
	实际验证发现上述三个浏览器，100%宽度会超出3个像素，因此会导致水平存在滚动条。*/
	display: block;
	overflow:hidden\0\9;
	position: absolute;
	height: 100%;
	width: 100%;
	min-height: 600px;
	min-width: 810px;
	/*IE8在height=100%的情况下会随着窗口飘，这里是适配IE8*/
	height: auto\0;
}

/*CSS精灵图像，用于DIV显示icon，icon从1~7*/
#nav_more .icon1{
	display: inline-block;
	height:px; 
	width:36px; 
	background:url(../img/icons.png) no-repeat
}

/*icon2*/
#nav_more .icon2{
	display: inline-block; 
	height:36px; 
	width:36px; 
	background:url(../img/icons.png) -36px 0px no-repeat
}

/*icon3*/
#nav_more .icon3{
	display: inline-block; 
	height:36px; 
	width:40px; 
	background:url(../img/icons.png) -72px 0px no-repeat
}

/*icon4*/
#nav_more .icon4{
	display: inline-block; 
	height:36px; 
	width:34px; 
	background:url(../img/icons.png) -112px 0px no-repeat
}

/*icon5*/
#nav_more .icon5{
	display:inline-block; 
	height:36px; 
	width:30px; 
	background:url(../img/icons.png) -150px 0px no-repeat
}

/*icon6*/
#nav_more .icon6{
	display:inline-block; 
	height:36px; 
	width:36px; 
	background:url(../img/icons.png) -184px 0px no-repeat
}

/*icon7*/
#nav_more .icon7{
	display:inline-block; 
	height:36px; 
	width:36px; 
	background:url(../img/icons.png) -220px 0px no-repeat
}

/*更多产品中，icon下方的文字*/
#nav_more span{
	display: block;
	margin: 6px 0;
	text-align: center;
}

/*更多产品中，icon下方的文字的链接样式*/
#nav_more a {
	display: inline-block;
	text-align: center;
	border-top: 1px solid #EEE;
	width: 64px;
	padding-top: 9px;
	padding-bottom: 6px;
	background-color: #F7F7F7;
	text-decoration:none;
	color: #666;
}

/*更多产品，整个容器*/
#more{
	box-sizing: border-box;
	display: none;
	position: absolute;
	z-index: 999;
	top:0px;
	right: 0px;
	height: 100%;
	width: 84px;
	background-color: #F7F7F7;
	border: 1px solid #EEE;
	border-top: 0px;
}

/*更多产品中，用于包含所有带有icon产品列表的容器*/
#nav_more {
	font-size: 12px;
	display: block;
}

/*更多产品中，用于包含所有带有icon产品列表的容器*/
#nav_more ul {
	text-align: center;
}

/*更多产品，每个icon是使用列表列出，这里修改列表的样式*/
#nav_more ul li{
	list-style: none;
	line-height: 100%;
	margin-left: 0px;
}

/*更多产品，在整个更多产品头部的“更多产品”文字的样式*/
#nav_more_title{
	height: 53px;
	line-height: 60px;
	display: block;
	text-align: center;
}

#nav_more #allproduct_link{
	font-size: 12px;
}

/*整个顶部导航部分的容器*/
.header{
	padding: 19px 0px 5px 0;
	width: 100%;
	text-align: right;
}

/*顶部导航，让所有导航向右边对齐，实现靠右布局*/
.header li{
	display: inline;
	margin-left: 15px;
	font-size: 13px;
	line-height: 24px;
}

/*顶部导航，全部使用列表，这里设置列表字体颜色*/
.header li a{
	color: #000;
}

/*顶部导航，最右侧的“更多产品”的样式*/
.header #hd_moretext{
	background-color: #358fFE;
	margin-right: 12px;
	text-align: center;
	padding: 6px 4px;
	color: #fff;
}

/*顶部导航，单独设置“更多产品”的A链接样式，不带下划线*/
.header #hd_morelink{
	text-decoration: none;
}

/*顶部导航，通过设置“更多产品”的hover属性，实现侧边更多产品导航的显示*/
.header #hd_morelink:hover ~ #more, #more:hover{
	display: block;
}

/*顶部导航，“设置”的属性，这里设置为其内内容布局的容器*/
.header #config{
	position: relative;
	z-index: 999;
}

/*顶部导航，“设置”下方的二级导航*/
.header #config .config_item{
	display: block;
}

/*顶部导航，“设置”下方的二级导航*/
.header #config #config_list{
	position: absolute;
	display: none;
	top:0px;
	left: -22px;
	text-align: center;
	padding: 0px;
}

/*顶部导航，“设置”下方的二级导航*/
.header #config_list ul{
	display: block;
	height: auto;
	width: auto;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 2px 2px #E0E0E0;
	filter:progid:DXImageTransform.Microsoft.DropShadow(OffX='2', OffY='2', Color='#E0E0E0', Positive='true')
}

/*顶部导航，“设置”，设置当鼠标悬停时，显示二级导航*/
.header #config:hover #config_list, .header #config #config_list:hover{
	display: block;
}

/*顶部导航，“设置”的二级导航的样式*/
.header #config #config_list .config_item{
	width: 80px;
	margin: 0px;
}

/*顶部导航，“设置”的二级导航的鼠标悬停样式*/
.header #config #config_list .config_item:hover{
	background-color: #358fFE;
	color: #FFF;
}

/*整个中间搜索框部分，包含logo*/
.search_form {
	position: absolute;
	top: 38.2%;
	/*为了IE6不支持max-height,min-height做出的外观的妥协。
	我看百度官方网页对IE7也采用和IE6一样的策略，我这里选择只对IE6做出妥协，
	因为IE7是支持min-height属性的。这样IE7与其他版本和浏览器在高分辨率显示器下显示更加接近。*/
	_top:260px;
	margin-top: -191px;
	width: 100%;
	z-index: 998;
}

/*搜索框，整个表单容器*/
.search_form #logo_holder{
	text-align: center;
}

/*百度logo*/
.search_form #logo {
	width: 270px;
	height: 129px;
}

/*整个表单的容器不包含logo*/
.search_form #form_holder{
	text-align: center;
	margin-top: 25px;
}

/*搜索表单中的文本输入框的容器*/
.search_form #input_holder{
	display: inline-block; /*各个浏览器对于input的对齐简直无法理解*/
	*display: inline;
	vertical-align: middle;
}

/*搜索表单中的文本输入框的样式*/
.search_form #sf_input{
	box-sizing: border-box;
	height: 36px;
	*height: 34px;/*这里IE6表现的很神奇*/
	width: 540px;
	border: 1px solid #DDD;
	border-right: 0px;
	outline: none;
	font-size: 16px;
	line-height: 34px;
}

/*设置搜索框的鼠标悬停，用于改变搜索框的颜色*/
.search_form #sf_input:hover{
	border: 1px solid #BBB;
	border-right: 0px;
}

/*设置搜索框的获得焦点事件，用于改变搜索框的颜色*/
.search_form #sf_input:focus{
	border:1px solid #358fFE;
	border-right: 0px;
}

/*百度一下按钮的容器*/
.search_form #button_holder{
	display: inline-block;
	*display: inline;
	vertical-align: middle;
}

/*搜索表单中的搜索按钮的样式*/
.search_form #sf_btn{
	box-sizing: border-box;
	height: 36px;
	width: 100px;
	border: 1px solid #358fFE;
	background-color: #358fFE;
	font-size: 14px;
	color: #fff;
	text-align: center;
	outline: none;
}

/*搜索表单中的搜索按钮的样式*/
.search_form #sf_btn:hover{
	border: 1px solid #2580FF;
	background-color: #2580FF;
}

/*页面底部的容器*/
.footer{
	position: absolute;
	bottom: 80px;
	font-size: 12px;
	width: 100%;
	min-width: 810px;
}

/*页面底部的两条DIV样式，用于设置DIV内文字居中对齐*/
.footer div{
	display: block;
	text-align: center;
	margin: 10px auto;
	color: #888;
}

/*页面底部，导航部分的样式*/
.footer ul li{
	list-style: none;
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

/*页面底部，版权说明部分的样式*/
.footer #copyright a{
	color: #888
}

/*设置底部的链接的样式*/
.footer a:hover{
	color: #888;
}