.red{
	background-color: red;
}

.blue{
	background-color: blue;
}

.purple{
	background-color: purple;
}

.orange{
	background-color: orange;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.box{
	position: absolute;
	top:50%;
	left: 50%;
	width: 270px;
	height: 270px;
	margin-left: -135px;
	margin-top: -135px;
	
}

.A, .B, .C, .D, .E, .F{
	width: 270px;
	height: 270px;
	position: absolute;
}

.A div, .B div, .C div, .D div, .E div, .F div{
	width: 90px;
	height: 90px;
	float: left;
	opacity: 0.5;
	border-radius: 10px;
	border: 1px solid #FAFAFA;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	line-height: 88px;
	font-size: 60px;
}

/*【疑问】为什么旋转，平移的先后顺序不一样，效果也不一样？
经过测试，貌似旋转后会导致该变形的元素的XYZ轴也一并旋转，貌似是将坐标系旋转，而不是元素相对坐标系旋转。*/
/*【疑问】3D旋转的中心点即{x,y,z} = {0,0,0}的位置在哪里？
经过测试，如果不设置perspective，默认perspective就是0，那么坐标系中心在元素中心。如果设置了perspective后，貌似中心就变化了*/
/*【疑问】perspective写在父级元素和写在要变形的元素上有什么不一样？*/
/*【疑问】各家浏览器渲染时，发现申明角度旋转个数不一样会导致元素的动画速度不一样，我这里的解决办法是补齐变形的个数？*/
/*【疑问】各家浏览器渲染时，发现正负角度递增和正负角度递减的渲染速度有时也会不一样？*/
/*【疑问】动画貌似不能在已有结果的情况下“继续进行动画”，比如在样式中设置好变形样式后，动画不能“接着”已经在样式中定义好的状态下继续动画？*/

/*A面正对我们，即外侧朝外移动即可*/
.A{
	
	animation: Arotate 4s infinite;
}

/*目前B面向远离A面移动，其外面朝内，因此需要做翻转*/
.B{	
	animation: Brotate 4s infinite;
}

/*C面为底部，向外移动后，绕X轴旋转可转到底面*/
.C{
	animation: Crotate 4s infinite;
}

/*C面为顶部，向外移动后，绕X轴旋转可转到底面*/
.D{
	animation: Drotate 4s infinite;
}

/*E面为左侧面，向外移动后，绕Y轴旋转可转到底面*/
.E{
	animation: Erotate 4s infinite;
}

/*F面为右侧面，向外移动后，绕Y轴旋转可转到底面*/
.F{
	animation: Frotate 4s infinite;
}

@keyframes Arotate{
	0%  	{transform: perspective(600px) rotateY(0deg) rotateX(0deg) translateZ(135px);}
	12.5% 	{transform: perspective(600px) rotateY(90deg) rotateX(0deg) translateZ(135px);}
	25% 	{transform: perspective(600px) rotateY(180deg) rotateX(0deg) translateZ(135px);}
	37.5% 	{transform: perspective(600px) rotateY(270deg) rotateX(0deg) translateZ(135px);}
	50%		{transform: perspective(600px) rotateY(360deg) rotateX(0deg) translateZ(135px);}
	
	62.5%	{transform: perspective(600px) rotateY(360deg) rotateX(90deg) translateZ(135px);}
	75%		{transform: perspective(600px) rotateY(360deg) rotateX(180deg) translateZ(135px);}
	87.5%	{transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	100%	{transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	
}

@keyframes Brotate{
	0% 		{transform: perspective(600px) rotateY(0deg) rotateX(180deg)  translateZ(135px);}
	12.5% 	{transform: perspective(600px) rotateY(90deg) rotateX(180deg)  translateZ(135px);}
	25% 	{transform: perspective(600px) rotateY(180deg) rotateX(180deg)  translateZ(135px);}
	37.5% 	{transform: perspective(600px) rotateY(270deg) rotateX(180deg) translateZ(135px);}
	50%		{transform: perspective(600px) rotateY(360deg) rotateX(180deg)  translateZ(135px);}
	
	62.5%	{transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	75%		{transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	87.5%	{transform: perspective(600px) rotateY(360deg) rotateX(450deg) translateZ(135px);}
	100%	{transform: perspective(600px) rotateY(360deg) rotateX(540deg) translateZ(135px);}
}

@keyframes Crotate{
	0%  	{transform: perspective(600px) rotateX(270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{transform: perspective(600px) rotateX(270deg) rotateZ(90deg) translateZ(135px);}
	25% 	{transform: perspective(600px) rotateX(270deg) rotateZ(180deg) translateZ(135px);}
	37.5% 	{transform: perspective(600px) rotateX(270deg) rotateZ(270deg) translateZ(135px);}
	50%		{transform: perspective(600px) rotateX(270deg) rotateZ(360deg) translateZ(135px);}
	
	62.5%	{transform: perspective(600px) rotateX(360deg) rotateZ(360deg) translateZ(135px);}
	75%		{transform: perspective(600px) rotateX(450deg) rotateZ(360deg) translateZ(135px);}
	87.5%	{transform: perspective(600px) rotateX(540deg) rotateZ(360deg) translateZ(135px);}
	100%	{transform: perspective(600px) rotateX(630deg) rotateZ(360deg) translateZ(135px);}
}

@keyframes Drotate{
	0%  	{transform: perspective(600px) rotateX(90deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{transform: perspective(600px) rotateX(90deg) rotateZ(-90deg) translateZ(135px);}
	25% 	{transform: perspective(600px) rotateX(90deg) rotateZ(-180deg) translateZ(135px);}
	37.5% 	{transform: perspective(600px) rotateX(90deg) rotateZ(-270deg) translateZ(135px);}
	50%		{transform: perspective(600px) rotateX(90deg) rotateZ(-360deg) translateZ(135px);}
	
	62.5%	{transform: perspective(600px) rotateX(180deg) rotateZ(-360deg) translateZ(135px);}
	75%		{transform: perspective(600px) rotateX(270deg) rotateZ(-360deg) translateZ(135px);}
	87.5%	{transform: perspective(600px) rotateX(360deg) rotateZ(-360deg) translateZ(135px);}
	100%	{transform: perspective(600px) rotateX(450deg) rotateZ(-360deg) translateZ(135px);}
}

@keyframes Erotate{
	0%  	{transform: perspective(600px) rotateY(-270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{transform: perspective(600px) rotateY(-180deg) rotateZ(0deg) translateZ(135px);}
	25% 	{transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	50%		{transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}

	62.5%	{transform: perspective(600px) rotateY(90deg) rotateZ(90deg) translateZ(135px);}
	75%		{transform: perspective(600px) rotateY(90deg) rotateZ(180deg) translateZ(135px);}
	87.5%	{transform: perspective(600px) rotateY(90deg) rotateZ(270deg) translateZ(135px);}
	100%	{transform: perspective(600px) rotateY(90deg) rotateZ(360deg) translateZ(135px);}
}

@keyframes Frotate{
	0%  	{transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px)}
	12.5% 	{transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	25% 	{transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{transform: perspective(600px) rotateY(180deg) rotateZ(0deg) translateZ(135px);}
	50% 	{transform: perspective(600px) rotateY(270deg) rotateZ(0deg) translateZ(135px);}
	
	62.5%	{transform: perspective(600px) rotateY(270deg) rotateZ(-90deg) translateZ(135px);}
	75%		{transform: perspective(600px) rotateY(270deg) rotateZ(-180deg) translateZ(135px);}
	87.5%	{transform: perspective(600px) rotateY(270deg) rotateZ(-270deg) translateZ(135px);}
	100%	{transform: perspective(600px) rotateY(270deg) rotateZ(-360deg) translateZ(135px);}
}

/*webkit适配*/
@-webkit-keyframes Arotate{
	0%  	{-webkit-transform: perspective(600px) rotateY(0deg) rotateX(0deg) translateZ(135px);}
	12.5% 	{-webkit-transform: perspective(600px) rotateY(90deg) rotateX(0deg) translateZ(135px);}
	25% 	{-webkit-transform: perspective(600px) rotateY(180deg) rotateX(0deg) translateZ(135px);}
	37.5% 	{-webkit-transform: perspective(600px) rotateY(270deg) rotateX(0deg) translateZ(135px);}
	50%		{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(0deg) translateZ(135px);}
	
	62.5%	{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(90deg) translateZ(135px);}
	75%		{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(180deg) translateZ(135px);}
	87.5%	{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	100%	{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
}

@-webkit-keyframes Brotate{
	0% 		{-webkit-transform: perspective(600px) rotateY(0deg) rotateX(180deg)  translateZ(135px);}
	12.5% 	{-webkit-transform: perspective(600px) rotateY(90deg) rotateX(180deg)  translateZ(135px);}
	25% 	{-webkit-transform: perspective(600px) rotateY(180deg) rotateX(180deg)  translateZ(135px);}
	37.5% 	{-webkit-transform: perspective(600px) rotateY(270deg) rotateX(180deg) translateZ(135px);}
	50%		{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(180deg)  translateZ(135px);}
	
	62.5%	{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	75%		{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	87.5%	{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(450deg) translateZ(135px);}
	100%	{-webkit-transform: perspective(600px) rotateY(360deg) rotateX(540deg) translateZ(135px);}
}

@-webkit-keyframes Crotate{
	0%  	{-webkit-transform: perspective(600px) rotateX(270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-webkit-transform: perspective(600px) rotateX(270deg) rotateZ(90deg) translateZ(135px);}
	25% 	{-webkit-transform: perspective(600px) rotateX(270deg) rotateZ(180deg) translateZ(135px);}
	37.5% 	{-webkit-transform: perspective(600px) rotateX(270deg) rotateZ(270deg) translateZ(135px);}
	50%		{-webkit-transform: perspective(600px) rotateX(270deg) rotateZ(360deg) translateZ(135px);}
	
	62.5%	{-webkit-transform: perspective(600px) rotateX(360deg) rotateZ(360deg) translateZ(135px);}
	75%		{-webkit-transform: perspective(600px) rotateX(450deg) rotateZ(360deg) translateZ(135px);}
	87.5%	{-webkit-transform: perspective(600px) rotateX(540deg) rotateZ(360deg) translateZ(135px);}
	100%	{-webkit-transform: perspective(600px) rotateX(630deg) rotateZ(360deg) translateZ(135px);}
}

@-webkit-keyframes Drotate{
	0%  	{-webkit-transform: perspective(600px) rotateX(90deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-webkit-transform: perspective(600px) rotateX(90deg) rotateZ(-90deg) translateZ(135px);}
	25% 	{-webkit-transform: perspective(600px) rotateX(90deg) rotateZ(-180deg) translateZ(135px);}
	37.5% 	{-webkit-transform: perspective(600px) rotateX(90deg) rotateZ(-270deg) translateZ(135px);}
	50%		{-webkit-transform: perspective(600px) rotateX(90deg) rotateZ(-360deg) translateZ(135px);}
	
	62.5%	{-webkit-transform: perspective(600px) rotateX(180deg) rotateZ(-360deg) translateZ(135px);}
	75%		{-webkit-transform: perspective(600px) rotateX(270deg) rotateZ(-360deg) translateZ(135px);}
	87.5%	{-webkit-transform: perspective(600px) rotateX(360deg) rotateZ(-360deg) translateZ(135px);}
	100%	{-webkit-transform: perspective(600px) rotateX(450deg) rotateZ(-360deg) translateZ(135px);}
}

@-webkit-keyframes Erotate{
	0%  	{-webkit-transform: perspective(600px) rotateY(-270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-webkit-transform: perspective(600px) rotateY(-180deg) rotateZ(0deg) translateZ(135px);}
	25% 	{-webkit-transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{-webkit-transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	50%		{-webkit-transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}

	62.5%	{-webkit-transform: perspective(600px) rotateY(90deg) rotateZ(90deg) translateZ(135px);}
	75%		{-webkit-transform: perspective(600px) rotateY(90deg) rotateZ(180deg) translateZ(135px);}
	87.5%	{-webkit-transform: perspective(600px) rotateY(90deg) rotateZ(270deg) translateZ(135px);}
	100%	{-webkit-transform: perspective(600px) rotateY(90deg) rotateZ(360deg) translateZ(135px);}
}

@-webkit-keyframes Frotate{
	0%  	{-webkit-transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px)}
	12.5% 	{-webkit-transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	25% 	{-webkit-transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{-webkit-transform: perspective(600px) rotateY(180deg) rotateZ(0deg) translateZ(135px);}
	50% 	{-webkit-transform: perspective(600px) rotateY(270deg) rotateZ(0deg) translateZ(135px);}
	
	62.5%	{-webkit-transform: perspective(600px) rotateY(270deg) rotateZ(-90deg) translateZ(135px);}
	75%		{-webkit-transform: perspective(600px) rotateY(270deg) rotateZ(-180deg) translateZ(135px);}
	87.5%	{-webkit-transform: perspective(600px) rotateY(270deg) rotateZ(-270deg) translateZ(135px);}
	100%	{-webkit-transform: perspective(600px) rotateY(270deg) rotateZ(-360deg) translateZ(135px);}
}

/*mozilla适配*/
@-moz-keyframes Arotate{
	0%  	{-moz-transform: perspective(600px) rotateY(0deg) rotateX(0deg) translateZ(135px);}
	12.5% 	{-moz-transform: perspective(600px) rotateY(90deg) rotateX(0deg) translateZ(135px);}
	25% 	{-moz-transform: perspective(600px) rotateY(180deg) rotateX(0deg) translateZ(135px);}
	37.5% 	{-moz-transform: perspective(600px) rotateY(270deg) rotateX(0deg) translateZ(135px);}
	50%		{-moz-transform: perspective(600px) rotateY(360deg) rotateX(0deg) translateZ(135px);}
	
	62.5%	{-moz-transform: perspective(600px) rotateY(360deg) rotateX(90deg) translateZ(135px);}
	75%		{-moz-transform: perspective(600px) rotateY(360deg) rotateX(180deg) translateZ(135px);}
	87.5%	{-moz-transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	100%	{-moz-transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	
}

@-moz-keyframes Brotate{
	0% 		{-moz-transform: perspective(600px) rotateY(0deg) rotateX(180deg)  translateZ(135px);}
	12.5% 	{-moz-transform: perspective(600px) rotateY(90deg) rotateX(180deg)  translateZ(135px);}
	25% 	{-moz-transform: perspective(600px) rotateY(180deg) rotateX(180deg)  translateZ(135px);}
	37.5% 	{-moz-transform: perspective(600px) rotateY(270deg) rotateX(180deg) translateZ(135px);}
	50%		{-moz-transform: perspective(600px) rotateY(360deg) rotateX(180deg)  translateZ(135px);}
	
	62.5%	{-moz-transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	75%		{-moz-transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	87.5%	{-moz-transform: perspective(600px) rotateY(360deg) rotateX(450deg) translateZ(135px);}
	100%	{-moz-transform: perspective(600px) rotateY(360deg) rotateX(540deg) translateZ(135px);}
}

@-moz-keyframes Crotate{
	0%  	{-moz-transform: perspective(600px) rotateX(270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-moz-transform: perspective(600px) rotateX(270deg) rotateZ(90deg) translateZ(135px);}
	25% 	{-moz-transform: perspective(600px) rotateX(270deg) rotateZ(180deg) translateZ(135px);}
	37.5% 	{-moz-transform: perspective(600px) rotateX(270deg) rotateZ(270deg) translateZ(135px);}
	50%		{-moz-transform: perspective(600px) rotateX(270deg) rotateZ(360deg) translateZ(135px);}
	
	62.5%	{-moz-transform: perspective(600px) rotateX(360deg) rotateZ(360deg) translateZ(135px);}
	75%		{-moz-transform: perspective(600px) rotateX(450deg) rotateZ(360deg) translateZ(135px);}
	87.5%	{-moz-transform: perspective(600px) rotateX(540deg) rotateZ(360deg) translateZ(135px);}
	100%	{-moz-transform: perspective(600px) rotateX(630deg) rotateZ(360deg) translateZ(135px);}
}

@-moz-keyframes Drotate{
	0%  	{-moz-transform: perspective(600px) rotateX(90deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-moz-transform: perspective(600px) rotateX(90deg) rotateZ(-90deg) translateZ(135px);}
	25% 	{-moz-transform: perspective(600px) rotateX(90deg) rotateZ(-180deg) translateZ(135px);}
	37.5% 	{-moz-transform: perspective(600px) rotateX(90deg) rotateZ(-270deg) translateZ(135px);}
	50%		{-moz-transform: perspective(600px) rotateX(90deg) rotateZ(-360deg) translateZ(135px);}
	
	62.5%	{-moz-transform: perspective(600px) rotateX(180deg) rotateZ(-360deg) translateZ(135px);}
	75%		{-moz-transform: perspective(600px) rotateX(270deg) rotateZ(-360deg) translateZ(135px);}
	87.5%	{-moz-transform: perspective(600px) rotateX(360deg) rotateZ(-360deg) translateZ(135px);}
	100%	{-moz-transform: perspective(600px) rotateX(450deg) rotateZ(-360deg) translateZ(135px);}
}

@-moz-keyframes Erotate{
	0%  	{-moz-transform: perspective(600px) rotateY(-270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-moz-transform: perspective(600px) rotateY(-180deg) rotateZ(0deg) translateZ(135px);}
	25% 	{-moz-transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{-moz-transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	50%		{-moz-transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}

	62.5%	{-moz-transform: perspective(600px) rotateY(90deg) rotateZ(90deg) translateZ(135px);}
	75%		{-moz-transform: perspective(600px) rotateY(90deg) rotateZ(180deg) translateZ(135px);}
	87.5%	{-moz-transform: perspective(600px) rotateY(90deg) rotateZ(270deg) translateZ(135px);}
	100%	{-moz-transform: perspective(600px) rotateY(90deg) rotateZ(360deg) translateZ(135px);}
}

@-moz-keyframes Frotate{
	0%  	{-moz-transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px)}
	12.5% 	{-moz-transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	25% 	{-moz-transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{-moz-transform: perspective(600px) rotateY(180deg) rotateZ(0deg) translateZ(135px);}
	50% 	{-moz-transform: perspective(600px) rotateY(270deg) rotateZ(0deg) translateZ(135px);}
	
	62.5%	{-moz-transform: perspective(600px) rotateY(270deg) rotateZ(-90deg) translateZ(135px);}
	75%		{-moz-transform: perspective(600px) rotateY(270deg) rotateZ(-180deg) translateZ(135px);}
	87.5%	{-moz-transform: perspective(600px) rotateY(270deg) rotateZ(-270deg) translateZ(135px);}
	100%	{-moz-transform: perspective(600px) rotateY(270deg) rotateZ(-360deg) translateZ(135px);}
}


/*IE适配*/
@-ms-keyframes Arotate{
	0%  	{-ms-transform: perspective(600px) rotateY(0deg) rotateX(0deg) translateZ(135px);}
	12.5% 	{-ms-transform: perspective(600px) rotateY(90deg) rotateX(0deg) translateZ(135px);}
	25% 	{-ms-transform: perspective(600px) rotateY(180deg) rotateX(0deg) translateZ(135px);}
	37.5% 	{-ms-transform: perspective(600px) rotateY(270deg) rotateX(0deg) translateZ(135px);}
	50%		{-ms-transform: perspective(600px) rotateY(360deg) rotateX(0deg) translateZ(135px);}
	
	62.5%	{-ms-transform: perspective(600px) rotateY(360deg) rotateX(90deg) translateZ(135px);}
	75%		{-ms-transform: perspective(600px) rotateY(360deg) rotateX(180deg) translateZ(135px);}
	87.5%	{-ms-transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	100%	{-ms-transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	
}

@-ms-keyframes Brotate{
	0% 		{-ms-transform: perspective(600px) rotateY(0deg) rotateX(180deg)  translateZ(135px);}
	12.5% 	{-ms-transform: perspective(600px) rotateY(90deg) rotateX(180deg)  translateZ(135px);}
	25% 	{-ms-transform: perspective(600px) rotateY(180deg) rotateX(180deg)  translateZ(135px);}
	37.5% 	{-ms-transform: perspective(600px) rotateY(270deg) rotateX(180deg) translateZ(135px);}
	50%		{-ms-transform: perspective(600px) rotateY(360deg) rotateX(180deg)  translateZ(135px);}
	
	62.5%	{-ms-transform: perspective(600px) rotateY(360deg) rotateX(270deg) translateZ(135px);}
	75%		{-ms-transform: perspective(600px) rotateY(360deg) rotateX(360deg) translateZ(135px);}
	87.5%	{-ms-transform: perspective(600px) rotateY(360deg) rotateX(450deg) translateZ(135px);}
	100%	{-ms-transform: perspective(600px) rotateY(360deg) rotateX(540deg) translateZ(135px);}
}

@-ms-keyframes Crotate{
	0%  	{-ms-transform: perspective(600px) rotateX(270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-ms-transform: perspective(600px) rotateX(270deg) rotateZ(90deg) translateZ(135px);}
	25% 	{-ms-transform: perspective(600px) rotateX(270deg) rotateZ(180deg) translateZ(135px);}
	37.5% 	{-ms-transform: perspective(600px) rotateX(270deg) rotateZ(270deg) translateZ(135px);}
	50%		{-ms-transform: perspective(600px) rotateX(270deg) rotateZ(360deg) translateZ(135px);}
	
	62.5%	{-ms-transform: perspective(600px) rotateX(360deg) rotateZ(360deg) translateZ(135px);}
	75%		{-ms-transform: perspective(600px) rotateX(450deg) rotateZ(360deg) translateZ(135px);}
	87.5%	{-ms-transform: perspective(600px) rotateX(540deg) rotateZ(360deg) translateZ(135px);}
	100%	{-ms-transform: perspective(600px) rotateX(630deg) rotateZ(360deg) translateZ(135px);}
}

@-ms-keyframes Drotate{
	0%  	{-ms-transform: perspective(600px) rotateX(90deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-ms-transform: perspective(600px) rotateX(90deg) rotateZ(-90deg) translateZ(135px);}
	25% 	{-ms-transform: perspective(600px) rotateX(90deg) rotateZ(-180deg) translateZ(135px);}
	37.5% 	{-ms-transform: perspective(600px) rotateX(90deg) rotateZ(-270deg) translateZ(135px);}
	50%		{-ms-transform: perspective(600px) rotateX(90deg) rotateZ(-360deg) translateZ(135px);}
	
	62.5%	{-ms-transform: perspective(600px) rotateX(180deg) rotateZ(-360deg) translateZ(135px);}
	75%		{-ms-transform: perspective(600px) rotateX(270deg) rotateZ(-360deg) translateZ(135px);}
	87.5%	{-ms-transform: perspective(600px) rotateX(360deg) rotateZ(-360deg) translateZ(135px);}
	100%	{-ms-transform: perspective(600px) rotateX(450deg) rotateZ(-360deg) translateZ(135px);}
}

@-ms-keyframes Erotate{
	0%  	{-ms-transform: perspective(600px) rotateY(-270deg) rotateZ(0deg) translateZ(135px);}
	12.5% 	{-ms-transform: perspective(600px) rotateY(-180deg) rotateZ(0deg) translateZ(135px);}
	25% 	{-ms-transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{-ms-transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	50%		{-ms-transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}

	62.5%	{-ms-transform: perspective(600px) rotateY(90deg) rotateZ(90deg) translateZ(135px);}
	75%		{-ms-transform: perspective(600px) rotateY(90deg) rotateZ(180deg) translateZ(135px);}
	87.5%	{-ms-transform: perspective(600px) rotateY(90deg) rotateZ(270deg) translateZ(135px);}
	100%	{-ms-transform: perspective(600px) rotateY(90deg) rotateZ(360deg) translateZ(135px);}
}

@-ms-keyframes Frotate{
	0%  	{-ms-transform: perspective(600px) rotateY(-90deg) rotateZ(0deg) translateZ(135px)}
	12.5% 	{-ms-transform: perspective(600px) rotateY(0deg) rotateZ(0deg) translateZ(135px);}
	25% 	{-ms-transform: perspective(600px) rotateY(90deg) rotateZ(0deg) translateZ(135px);}
	37.5% 	{-ms-transform: perspective(600px) rotateY(180deg) rotateZ(0deg) translateZ(135px);}
	50% 	{-ms-transform: perspective(600px) rotateY(270deg) rotateZ(0deg) translateZ(135px);}
	
	62.5%	{-ms-transform: perspective(600px) rotateY(270deg) rotateZ(-90deg) translateZ(135px);}
	75%		{-ms-transform: perspective(600px) rotateY(270deg) rotateZ(-180deg) translateZ(135px);}
	87.5%	{-ms-transform: perspective(600px) rotateY(270deg) rotateZ(-270deg) translateZ(135px);}
	100%	{-ms-transform: perspective(600px) rotateY(270deg) rotateZ(-360deg) translateZ(135px);}
}