#card-video .container{
	padding: 0px 25px 0px 5px;
	overflow: hidden;
}

#card-video .video-item{
	width: 195px;
	margin: 25px 0px 25px 20px;
	float: left;
}

#card-video .video-item .item-lg .item-lg-img img{
	width: 195px;
	height: 270px;
}

#card-video .video-item .item-lg .item-lg-img,
#card-video .video-item .item-sm .item-sm-img{
	position: relative;
}

#card-video .video-item .item-sm .item-sm-img img{
	width: 195px;
	height: 100px;
}

#card-video .video-item .item-sm{
	margin-bottom: 20px;
}

#card-video .video-item .item-info{
	width: 175px;
	padding: 0px 9px;
	height: 50px;
	border:1px solid #EEEEEE;
	background-color: #F3F3F3;
	border-top: 0px;
	line-height: 25px;
}


#card-video .video-item  .img-cover{
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
	position: absolute;
    height: 40px;
	width: 180px;
    left: 0;
    bottom: 0;
	text-align: right;
	/*line-height: 40px;*/
	color: #FFF;
	padding-right: 15px;
}