#tool_theme{
	position: fixed;
	top: -100%;
	width: 100%;
	background-color: #FFF;
	box-shadow: 0px 1px 1px 1px rgba(100,100,100,0.2);
}

#tool_theme .top-bar{
	border-bottom: 1px solid #dedede;
	overflow: hidden;
	font-size: 12px;
}

#tool_theme .top-bar .top-bar-container{
	width: 911px;
	margin: 0px auto;
}

#tool_theme .top-bar .top-bar-fold{
	line-height: 46px;
	float: right;
	margin-left: 10px;
	cursor: pointer;
}

#tool_theme .top-bar .top-bar-fold:hover{
	color: #389cff;	
}

#tool_theme .top-bar .top-bar-nouse{
	float: right;
}

#tool_theme .top-bar .top-bar-tansparent{
	float: right;
}


#tool_theme .top-bar .top-bar-nav{
	float: left;
}

#tool_theme .top-bar-nav .top-bar-nav-item{
	padding: 0px 8px;
	display: inline-block;
	float: left;
	background-color: #FFF;
	transition: all 0.2s linear;
	cursor: pointer;
	height: 46px;
	line-height: 46px;
}

#tool_theme .top-bar-nav .top-bar-nav-spliter{
	padding: 0px 8px;
	display: inline-block;
	float: left;
	background-color: #FFF;
	line-height: 46px;
	color: #dedede;
}

#tool_theme .top-bar-nav .active{
	background-color: #389cff;
	color: #FFF;
}

#tool_theme .top-bar-nav .top-bar-nav-item:hover{
	background-color: #389cff;
	color: #FFF;
	transition: all 0.2s linear;
}

#tool_theme .top-bar-tabs .tab-item{
	width: 913px;
	margin: 0px auto;
	display: none;
}

#tool_theme .top-bar-tabs .tab-item[data-name="hot"]{
	display: block;
}

#tool_theme .tab-item-themes{
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 294px;
	padding: 25px 0px;
}

#tool_theme .top-bar-tabs .theme-item{
	display: inline-block;
	float: left;
	margin:1px 1px 0px 0px;
}

#tool_theme .theme-item-small img{
	height: 59px;
	width: 97px;
}

#tool_theme .theme-item-middle img{
	height: 119px;
	width: 195px;
}

#tool_theme .theme-preview{
	float: right;
	margin: 25px 0px;
	background-position: 0px 14px;
	background-size: 100%;
}

#tool_theme .theme-preview img{
	height: 180px;
	width: 264px;
}

#tool_theme .top-bar-tabs .theme-customer{
	text-align: center;
	width: 500px;
	padding: 60px;
	float: left;
}

#tool_theme .theme-customer .theme-customer-btn{
	-webkit-appearance: none;
	background-color: #389cff;
	border: 1px solid #dedede;
	color: #FFF;
	width: 300px;
	height: 36px;
}

#tool_theme .recent-theme{
	margin: 30px 0px;
}

#tool_theme .recent-theme-item{
	height: 59px;
	width: 97px;
	background-color: #dedede;
	display: inline-block;
	margin: 0 5px 4px 0;
	float: left;
	background-size: cover;
}

#tool_theme .recent-theme-item:nth-child(9n){
	margin: 0 0 4px 0;
}

#tool_theme_opacity{
	vertical-align: middle;
	width: 100px;
	margin: 0px 5px;
	padding: 0px;
}

#theme-opacity-output{
	display: inline-block;
	width: 40px;
}