#page_main_card{
	min-width: 1000px;
	margin: 0px auto;
}

#page_main_card>.container>.bordered{
	border: 1px solid #f3f3f3;
	border-bottom: 0;
	margin-left: -2px;
}

.bordered{
	border: 1px solid #f3f3f3;
	margin-top: -1px;
}

#page_main_card>.container{
	width: 895px;
	margin: 0px auto;
	padding-top: 70px;
}

#page_main_card .tabs{
	display: block;
	width: 895px;
	overflow: hidden;
}

#page_main_card .bg{
	background-color: rgba(255,255,255,0.2)
}

#page_main_card .tab-item{
	display: inline-block;
	float: left;
	height: 39px;
	line-height: 39px;
	width: 80px;
	text-align: center;
	font-size: 16px;
	/*border-bottom: 1px solid rgba(255,255,255,0.2);*/
}

#page_main_card .tab-item:hover{
	background-color: rgba(0,0,0,0.2);
}

#page_main_card .tab-item-active{
	background-color: rgba(0,0,0,0.2);
}

#page_main_card .tab-item:nth-child(1){
	width: 124px;
}

#page_main_card .tab-filler{
	display: inline-block;
	float: left;
	height: 39px;
	width: 531px;
	/*border-bottom: 1px solid rgba(255,255,255,0.4);*/
}

#page_main_card .tab-item-config{
	line-height: 39px;
	text-align: right;
	padding-right: 5px;
}

#page_main_card .tab-content-container{
	position: relative;
	width: 895px;
	margin:0px auto 20px auto;
}

#page_main_card .tab-content{
	height: 365px;
	overflow: hidden;
	display: none;
	margin: 0px auto;
}

#page_main_card .tab-content-active{
	display: block;
}

#page_main_card .tab-content-config{
	background-color: #FFF;
	position: absolute;
	top: 0px;
}

#page_main_card .icon{
	width: 18px;
	height: 18px;
	background-image: url(./card_setts.png);
	display: inline-block;
	vertical-align: middle;
}

#page_main_card .my{
	width: 20px;
	background-position: -15px 0;
}

#page_main_card .config{
	background-position: -121px -49px;
	margin-right: 15px;
}

#page_main_card .amina-icon-more {
	border: 32px solid #999;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	border-bottom:0px;
	height: 0px;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	width: 1px;
	left: 50%;
	margin-left: -32px;
	cursor: pointer;
}

#page_main_card .arrow{
	background-position: -114px -2px;
	width: 22px;
	height: 13px;
	position: absolute;
	top:-25px;
	left: -11px;
	animation: anima-arrow 1s ease-in-out infinite;
}

@keyframes anima-arrow{
	50% {transform: translateY(8px)};
	100% {transform: translateY(0px)};
}
